.author{
    display: inline-block;
    font-style: italic;
    font-size: 12px;
    width: 80%;
}
.config{
    display: inline-block;
    font-size: 12px;
    width: 19%;
    text-align: center;
    cursor: pointer;

}
.config a{
    cursor: pointer;!important;
}
 input.form-control.ng-invalid.ng-touched {
    border: 1px solid red;!important;
}